body{
    background-color: black;
}
.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid green;
    color: green;
}
h3{
    color: green;
}
span{
    color: green;
}